html {
  scroll-behavior: smooth;
}
body {
  background-image: url("./sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
nav {
  overflow: hidden;
  position: fixed;
  justify-content: space-between;
}

header {
  position: absolute;
  top: 100px;
  left: 900px;
  width: 100%;
  padding: 30px, 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-right: 30px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: black;
  border-radius: 20px;
  font-size: 25px;
}
#About {
  height: 700px;
  display: inline-block;
  width: 100%;

  text-align: center;
  font-size: 25px;
  color: black;
}
#Education {
  height: 700px;
  display: inline-block;
  width: 100%;
}
#Skills {
  height: 700px;
  display: inline-block;
  width: 100%;
}
#Contacts {
  height: 700px;
  display: inline-block;
  width: 100%;
}
h1 {
  margin-top: 250px;
  margin-left: 600px;
  text-align: center;
  font-family: "EB Garamond", serif;
}
.one {
  margin-top: 10px;
  margin-left: 600px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 35px;
}
.two {
  margin-left: 600px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 35px;
}
.im1 {
  margin-left: 900px;
  margin-top: 300px;
  margin-right: 20px;
}
.im2 {
  margin-top: 300px;
  margin-right: 20px;
}
.im3 {
  margin-top: 300px;
  margin-right: 20px;
}
.im4 {
  margin-top: 300px;
  margin-right: 20px;
}
.form {
  margin-left: 1000px;
  margin-bottom: 50px;
}
